.quiz-info{
    margin: 15px;
    padding: 15px;
    background-color: #e2c8c83d;
    margin-bottom: 70px;
    box-shadow: 8px 15px #88888861;
}
.quiz-info h4{
    font-weight: bold;
    padding: 15px;
    text-align: start;
}
.quiz-question{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    margin: 15px;
}
.quizze-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.eye-icon {
    padding-right: 15px;
    font-size: 25px;
    color: blue;
}