.quiz-info{
    border: 1px solid darkblue;
    margin: 15px;
    padding: 15px;
    background-color: antiquewhite;
    margin-bottom: 50px;
}
.quiz-info h4{
    font-weight: bold;
    padding: 15px;
    text-align: start;
}
.quiz-question{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    margin: 15px;
}