.topic-info{
    border: 1px solid firebrick;
    margin: 15px;
    padding: 15px;
    background-color: #bcdfdf;
}
.topic-info img{
    height: 150px;
}
.topic-text button{
    height: 35px;
    width: 120px;
    border: 0;
    border-radius: 15px;
}
.topic-text button:hover{
    background-color: #ffcb00;
    transition: 0.5s;
}