.header{
    margin-top: 15px;
    background-color: rgb(234 246 235);
    border-radius: 15px;
    padding: 15px;
    text-align: start;
    box-sizing: content-box;
}
.header-img{
    text-align: center;
}
.header-text{
    padding-left: 40px;
}